.gallery-section {

  padding: 80px 20px;
  background-color: #f5f7fa;
   border-radius:50px;
}


.gallery-grid {
 display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 20px;
 
}

   
