.form-container {
    width: 500px;
    margin: auto;
    padding: 20px;
    text-align: center;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    background-color: rgb(124, 135, 162);
  }
  
  input {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  button {
    width: 100%;
    padding: 10px;
    background-color: #bfcbd7;
    color: rgb(16, 15, 15);
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #3f4750;
  }
  
  p {
    margin-top: 10px;
    color: #020202;
    cursor: pointer;
  }
  
  p:hover {
    text-decoration: underline;
  }
  